<div class="offcanvas offcanvas-start navbar-list-top " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header d-lg-none">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"><img src="./assets/images/freshcart-logo.svg" alt=""></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="input-group mb-3 d-lg-none">
      <input type="search" class="form-control" id="searchInput" placeholder="Search for products">
      <span class="input-group-text" id="basic-addon2">
                      <i data-feather="search" style="width: 20px; height: 20px;"></i>
      </span>
    </div>
    <div class="container-lg ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " routerLink="Home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Cart" routerLinkActive="active">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Categories" routerLinkActive="active">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Brands" routerLinkActive="active">Brands</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" routerLink="Signup-oldSchool">Signup Old School</a></li>
            <li><a class="dropdown-item" routerLink="Register">Signup </a></li>
            <li><a class="dropdown-item" routerLink="Login">Sign in</a></li>
            <li><a class="dropdown-item" routerLink="Forgot-Password">Forgot Password</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</div>
