<section class="register py-5 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex  align-content-center justify-content-center">
        <img src="../../../assets/images/signup-g.svg" alt="">
      </div>
      <div class="col-lg-6">
        <form  class="form w-100 p-0" (ngSubmit)="register()" [formGroup]="RegisterFrom">
          <h2>Register By Reactive Forms          </h2>
          <p>Welcome to FreshCart! Enter your email to get started.</p>
          <div class="alert alert-danger mb-3 text-center" role="alert" *ngIf="apiErrorMessage">
            {{apiErrorMessage}}
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="name" id="uName" placeholder="">
            <label for="uName">User Name</label>
            <div class="text-danger"
            *ngIf="RegisterFrom.get('name')?.invalid && RegisterFrom.get('name')?.touched">
              <div *ngIf="RegisterFrom.get('name')?.getError('required')">This Input Is Required</div>
              <div *ngIf="RegisterFrom.get('name')?.getError('minlength')">Min length for letter is 3</div>
              <div *ngIf="RegisterFrom.get('name')?.getError('maxlength')">Max length for letter is 20</div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" formControlName="email" id="uEmail" placeholder="">
            <label for="uEmail">Email address</label>
            <div class="text-danger" *ngIf="RegisterFrom.get('email')?.invalid && RegisterFrom.get('email')?.touched">
              <div *ngIf="RegisterFrom.get('email')?.getError('required')">This Input Is Required</div>
              <div *ngIf="RegisterFrom.get('email')?.getError('email')">please enter valid email</div>
            </div>
          </div>
          <div class="row g-2 mb-3">
            <div class="col-md">
              <div class="form-floating">
                <input [type]="typePassword? 'password' : 'text'" class="form-control" formControlName="password" id="uPassword" placeholder="" autocomplete="false">
                <label for="uPassword">Password</label>
                <a
                class="icon text-dark position-absolute end-0 top-50 translate-middle-y me-2"
                (click)="typePassword = !typePassword"
                >
                <!-- <i [attr.data-feather]="typePassword ? 'eye-off': 'eye'"></i> -->
                <i class="fa-regular " [class]="typePassword ? 'fa-eye-slash': 'fa-eye'"></i>
              </a>
              </div>
              <div class="text-danger" *ngIf="RegisterFrom.get('password')?.invalid && RegisterFrom.get('password')?.touched">
                <div *ngIf="RegisterFrom.get('password')?.getError('required')">This Input Is Required</div>
                <div *ngIf="RegisterFrom.get('password')?.getError('pattern')">Please Enter First Letter Capital And any 5 Letter</div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input [type]="typeRePassword? 'password' : 'text'" class="form-control" formControlName="rePassword" id="uRePassword" placeholder="" autocomplete="false">
                <label for="uRePassword">Re Password</label>
                <a
                class="icon text-dark position-absolute end-0 top-50 translate-middle-y me-2"
                (click)="typeRePassword = !typeRePassword"
                >
                <!-- <i [attr.data-feather]="typePassword ? 'eye-off': 'eye'"></i> -->
                <i class="fa-regular " [class]="typePassword ? 'fa-eye-slash': 'fa-eye'"></i>
              </a>
              </div>
              <div class="text-danger" *ngIf="RegisterFrom.get('rePassword')?.invalid && RegisterFrom.get('rePassword')?.touched">
                <div *ngIf="RegisterFrom.get('rePassword')?.getError('required')">This Input Is Required</div>
                <div *ngIf="RegisterFrom.get('rePassword')?.getError('pattern')">Please Enter First Letter Capital And any 5 Letter</div>
              </div>

            </div>
            <div class="text-danger" *ngIf="RegisterFrom.getError('passwordMismatch') && RegisterFrom.get('password')?.dirty && RegisterFrom.get('rePassword')?.dirty">rePassword doesn't match Password</div>
          </div>
          <div class="form-floating mb-3">
            <input type="tel" class="form-control" formControlName="phone" id="uPhone" placeholder="">
            <label for="uPhone">Phone Number</label>
            <div class="text-danger" *ngIf="RegisterFrom.get('phone')?.invalid && RegisterFrom.get('phone')?.touched">
              <div *ngIf="RegisterFrom.get('phone')?.getError('required')">This Input Is Required</div>
              <div *ngIf="RegisterFrom.get('phone')?.getError('pattern')">please enter valid Phone</div>
            </div>

          </div>
          <button type="submit" class="btn btn-success btn-lg w-100">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
