<section class="product-details ">
  <nav aria-label="breadcrumb " class="py-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-success" routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a class="text-success" >{{productDetails?.category?.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{productDetails?.title}}</li>
    </ol>
  </nav>
  <div class="container ">

    <div class="row">
      <div class="col-lg-6">
        <div class="image">
          <img [src]="productDetails?.images![0]" alt="" class="w-100 object-fit-contain">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content">
          <small class=" text-success">{{productDetails?.category?.name}}</small>
          <h1 class="fw-bold mb-0">{{productDetails?.title}}</h1>
          <div class="rating mb-3">
            <ng-container>
              <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fa-regular fa-star text-warning " [ngClass]="{
                'fa-solid ': star <= productDetails?.ratingsAverage!
              }"></i>
            </ng-container>
              <span class="ms-2 text-success">({{productDetails?.ratingsQuantity}} reviews)</span>
          </div>
          <div class="price ">
            <span class="h5 fw-bold">
              ${{productDetails?.price | number:'1.0-0'}}
              <small class="fw-normal ms-1">
                <del class="text-secondary">
                  ${{ (productDetails?.price! + ((productDetails?.price! * 20) / 100)) | number:'1.0-0' }}</del></small></span>
          </div>
          <div class="description py-3">
            <p>{{productDetails?.description}}</p>
          </div>
          <div class="quantity mb-3 border-top  pt-3">
            <div class="input-group  input-group-sm w-25">
              <button class="input-group-text" (click)="increaseQuantity() "><i class="fa-solid fa-plus"></i></button>
              <input type="number" [(ngModel)]="inputQuantity" class="form-control text-center fs" >
              <button class="input-group-text" (click)=" decreaseQuantity()" [disabled]="inputQuantity == 1"><i class="fa-solid fa-minus"></i></button>
            </div>
          </div>
          <div class="action border-bottom pb-3 mb-3">
            <button class="btn btn-success me-2 px-4" ><i class="fa-solid fa-cart-arrow-down me-1"></i> Add to cart</button>
            <button class="favorite btn btn-outline-danger me-2"><i class="fa-solid fa-heart "></i></button>
          </div>
          <p>
            <span class="w-25 d-inline-block">Brand :</span>
            <strong>{{productDetails?.brand?.name}}</strong>

          </p>

          <p>
            <span class="w-25 d-inline-block">Quantity :</span>
            <strong>            {{productDetails?.quantity}}
            </strong>

          </p>
        </div>
      </div>
    </div>
  </div>
</section>
