

<div class="card">
  <a [routerLink]="['/Product/', product._id ]">
  <div class="image">
    <img
      [src]="product.imageCover"
      class="card-img-top w-100 object-fit-contain"
      [alt]="product.title" height="250"
    />

  </div></a>
  <div class="card-body">
    <small class=" text-secondary">{{ product.category.name }}</small>
    <a [routerLink]="['/Product/', product._id ]"><h6 class="card-title ">{{ product.title.split(' ').slice(0,2).join(' ') }}</h6>
    </a><div class="rating py-2">
      <ng-container>
        <i
          *ngFor="let star of [1, 2, 3, 4, 5]"
          class="fa-regular fa-star "
          [ngClass]="{
            'fa-solid text-warning': star <= product.ratingsAverage
          }"
        ></i>
      </ng-container>

      <!-- <i class="fa fa-star"></i> -->

      {{ product.ratingsAverage }} ({{ product.ratingsQuantity }})
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="price">
        <span>${{ product.price | number:'1.0-0'}} <small><del class="text-secondary">${{ product.price + ((product.price * 20)/100) | number:'1.0-0' }}</del></small></span>
      </div>
      <div class="ml-auto">
        <!-- <a
          [routerLink]="['/product', product._id]"
          class="btn btn-primary"
          >View Details</a
        > -->
        <button
        (click)="addToCart(product._id)"
          class="btn btn-success btn-sm"
          ><i class="fa-solid fa-plus me-1"></i> Add</button>
      </div>
    </div>
  </div>
</div>

