<footer class="footer pt-5">
  <div class="footer-contact mb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Get the Fresh Cart App</h2>
          <p>We will send you a link, open it on your phone to download the app. </p>
            <form class="row g-3 w-100">

              <div class="col-10">
                <input type="email" class="form-control" id="inputPassword2" placeholder="E-mail..">
              </div>
              <div class="col-auto ms-auto">
                <button type="submit" class="btn btn-success ">Share App Link</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-Payment  ">
    <div class="container py-4 border-top border-bottom">
      <div class="row align-items-center">
        <div class="col-md-5">
          <h5 class="mb-0 ">Payment Partners
            <img src="../assets/images/amazonpay.svg" alt="" class="me-2 ms-2">
            <img src="./assets/images/american-express.svg" alt="" class="me-2">
            <img src="./assets/images/mastercard.svg" alt="" class="me-2">
            <img src="./assets/images/paypal.svg" alt="" class="me-2">
            <img src="./assets/images/visa.svg" alt="" class="">

          </h5>
        </div>
        <div class="col-md-7">
          <h6  class="mb-0 text-end">Get deliveries with FreshCart
            <img src="./assets/images/googleplay-btn.svg" alt="" class="me-2 ms-2">
            <img src="./assets/images/appstore-btn.svg" alt="" class="me-2">

          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright  py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p class="mb-0">All rights reserved © 2024 Created By:  Mostafa AbuBakr</p>
        </div>
        <div class="col-md-4">
          <p class="text-end mb-0">Follow us on
            <a class="ms-2 me-2 text-secondary" href="https://github.com/MostafaAbobaker"  target="_blank"> <i data-feather="github"></i> </a>
            <a class="me-2 text-secondary" href="https://www.behance.net/mustafaabobakr"  target="_blank"> <i data-feather="globe"></i> </a>
            <a class=" text-secondary" href="https://codepen.io/Mostafa_Abobaker"  target="_blank"> <i data-feather="codepen"></i> </a>
          </p>
        </div>

      </div>
    </div>

  </div>
</footer>
